* {
    box-sizing: border-box;
}
.body {
    max-width: 60em;
    margin:1em auto;
    border: 1px solid blue;
    background-color: black;
}
.main {
    grid-area: main;
}
/*~~ GRID AREA ~~*/
.haus {
    grid-area: haus;
    text-align: center;
    font-family: 'Vibes', cursive;
}
.topnav {
    grid-area: topnav;
}
.topnav a{
    color: #F502F5;
}
.content {
    grid-area: content;
}
.foot {
    grid-area: foot;
    }
/*~~ Dálkar í main ~~*/
.as1 {
    grid-area: as1;
}
.as2 {
    grid-area: as2;
}
.art1 {
    grid-area: art1;
}
/*~~ Template area ~~*/
.body {
    display: grid;
    grid-gap:0;
    grid-template-areas: 
        'haus'
        'topnav'
        'main'
        'foot'

}
.main {
    display: grid;
    grid-gap:0;
    grid-template-areas:
        'as1'
        'art1'
        'as2';
    grid-template-columns: 3fr;
    padding:5px;
}
/*~~ flex box ~~*/
.topmenu , .footmenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin:0;
    padding:1em 0;
    background-color: rgb(59, 57, 57);
}
.topmenu li, .footmenu {
    list-style-type: none;
}
/* vinnugögn */
.haus, .main, .art1, .as1, .as2 {
    border:1px dotted blue;
} 
.as1, .as2, .art1 {
    font-family: 'Notable', sans-serif;
}