* { box-sizing: border-box }

body {
    margin: 0; /* tek út sjálgefið 10px margin */
    /* font-family: ;*/
    font: 400 1em/1.5 'Open Sans', sans-serif; /* samsett skipun: weight/height, size, family */
    background-image: linear-gradient(#0948E8, #020084);
}
.verkefni {
    text-align: right;
}
h1 {
    font-weight: 300;
    font-size: 2.5em;
}
.headcolor, .footcolor {
    color: white; 
}
.headcolor h1 {
    margin: 2em 0 1em 0;
}
.headcolor h1,
.topnav a, 
.footnav a {
    color: rgb(240, 202, 152);
    text-decoration: none;
}
.topnav {
    margin-top: 4em;
}
.topnav a {
    padding-left: 2em;
}
.footnav {
    padding: 0;
}
.footnav li {
    list-style-type: none;
    line-height: 2;
}
.innermenu {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 2em;
    margin: 2em;
}
.innermenu a {
    background-color: darkblue;
    color: white;
    display: block;
    margin: 0;
    padding: 5px;
    border: blue;
}
.innermenu a:hover,
.innermenu a:active {
    color: black;
    background-color: rgb(240, 202, 152);
}
.innermenu a:last-child {
    border: 0;
}
blockquote {
    background-color: rgba(255,255,255, .7);
    padding: 1em;
}
.bgcolor {
    background-image: linear-gradient(navajowhite,oldlace );
    padding: 1em;
}
.container {
    max-width: 60em; /*960px = fartölvur*/
    margin: 0 auto; /* top+bottom og left+right */
    padding: 0;
}
.copy {
    color: white;
    text-align: center;
}
.topbutt {
    display: block;
    position: fixed;
    bottom: 2em;
    right: 2em;
    border-radius: 100%;
    text-decoration: none;
    padding: 0 .4em;
    font-size: 2em;
    color: darkblue;
    border: 2px solid darkblue;
    background-color: rgb(240, 202, 152);
}
/* grid */
.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.col-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.gap-4 {
    grid-gap: 4em
}
.maginb {
    margin: .5em 0 --1em 0;
}