body {
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    background-color: black;
    width: 50em;
    border: 2px solid blue;
    margin: 1em auto;
    padding: 1em;
}
h1 {
    color: blue;
}